@import "react-responsive-carousel/lib/styles/carousel.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Carousel
 */

.carousel.carousel-slider {
  overflow: visible;
  margin-bottom: 42px;
}

.carousel .control-dots {
  bottom: -42px;
}

.carousel .control-dots .dot {
  @apply bg-zinc-500 dark:bg-zinc-400;

  width: 14px;
  height: 14px;
  margin: 0 6px;
  box-shadow: none;
}

.carousel.carousel-slider .control-arrow {
  padding: 25px;
  transition-duration: 0.2s;
  opacity: 0;
}

/* Change padding of button for desktop devices */
@media screen(md) {
  .carousel.carousel-slider .control-arrow {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.carousel.carousel-slider .control-arrow:before {
  border-width: 12px;
  border-color: theme("colors.neutral.200");
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.carousel .control-prev.control-arrow {
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 100%
  ) !important;
}

.carousel .control-prev.control-arrow:before {
  border-left-width: 0;
}

.carousel .control-next.control-arrow {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 100%
  ) !important;
}

.carousel .control-next.control-arrow:before {
  border-right-width: 0;
}

.carousel.carousel-slider .control-arrow:hover {
  opacity: 1;
}
